.top-bar {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.top-bar .dropdown {
  margin-left: 30px;
}

.chart-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.chart-wrapper .data-table {
  width: 33%;
}

.chart-wrapper .js-plotly-plot {
  width: 66%;
  height: auto;
}

footer {
  width: 100%;
  text-align: center;
}
